head
  title Hi Meteor! Title!

body
  +test1
  +test2
  +test3

template(name="test1")
  h2 (1) Hi Meteor!
  p (1) Hi Meteor!

template(name="test2")
  h2 (2) Hi Meteor!
  p (2) Hi Meteor!


template(name="test3")
  h2 (3) Hi Meteor!
  p (3) Hi Meteor!
  