head
  title Hi Meteor! Chatroom!

body
  +messages

  
template(name="messages")
  hr
  h2 please input message here:
  input.messageInput
  each messages
    +oneMessage
    
template(name="oneMessage")
  hr
  h2 {{text}}
  hr
