head
  title Hi Meteor! Title!

body
  +test

  
template(name="test")
  each rangeArray
    +testTemplate number=this

template(name="testTemplate")  
  h2 ({{number}}) Hi Meteor! (h2 tag)
  p ({{number}}) Hi Meteor! (p tag)
