head
  title Hi Meteor! Chatroom!

body
  +messages

  
template(name="messages")
  hr
  h2 please input message here:
  
  h2 author:
    input.authorInput
  h2 message:
    input.messageInput

  each messages
    +oneMessage
    
template(name="oneMessage")
  hr
  if creator
    h2 [{{creator}} said:] {{text}}
  else
    h2 [anonymous said:] {{text}}
  p {{createdAt}}
  hr
